.auth_signin_form {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(246, 247, 243);
    margin: auto;
    margin-top: 50px;
}