#custom_card {
    padding-top: 50px;
    height: 380px;
    min-width: 400px;
    top: 50px;
    margin-top: 0;
}

#custom_card svg {
    position: absolute;
    top: 20px;
    right: 20px;
}

.custom_table {
    width: 600px;
}

.container_custom_table {
    margin: auto;
    display: inline-block;
    position: relative;
    top:100px
}